<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Documento</th>
                <th>Codigo</th>
                <th>Monto Prestado</th>
                <th>Plazo</th>
            </tr>
        </thead>
        <tbody>
            {% for i in object_list %}
            <tr>
                <td>{{ i.documento_cliente }}</td>
                <td>{{ i.cod_lineacredito }}</td>
                <td>{{ i.monto_prestado }}</td>
                <td>{{ i.plazo }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>